@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],
input[type="email"],input[type="number"],
input[type="time"],input[type="tel"],
textarea{
    @apply border my-1 py-2 px-3 rounded-xl;
}

input[type="search"]{
    @apply w-full py-2 px-4;
}

.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
   color: red;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
   color: gray;
}